body {
    background-color: #820101;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 3rem;
}
input{
    margin: 1em;
    padding: 6px;
    border-radius: 10px;
    font-size: large;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #fc1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1rem;


}