
#Contacto{
    margin-left: 15%;
    display: flex;
    flex-direction: row;

}

#formulario{
    width: 100%;
    margin-left: 60px;
    align-content: flex-start;
    justify-content: left;
}
#formulario form {
    max-width: 400px;
}
#formulario label {
    display: block;
    margin-top:20px;
}

#formulario textarea {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#formulario input[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.animado{
    animation-name: mi-animacion;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes mi-animacion {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
